<li th:fragment="gameTree(CalendarList, targetCalendar)" th:each="Calendar : ${CalendarList}"
    th:with="basic='w-[90%] p-[10px]'">
    <th:block th:if="${!#lists.isEmpty(Calendar.children)}">
        <details open>
            <summary class="flex p-0"><a th:class="${basic}"
                                         th:classappend="${Calendar.id == targetCalendar.id} ? 'bg-blue-600':''"
                                         th:href="@{|/${Calendar.id}?keyword=${paramHandler.keyword}&isSearchModal=${paramHandler.isSearchModal}&sort=${paramHandler.sort}|}"
                                         th:text="${Calendar.name}"></a></summary>
            <ul>
                <li th:replace="~{fragments/Calendar::GameTree(${Calendar.children}, ${targetCalendar})}"></li>
            </ul>
        </details>
    </th:block>
    <th:block th:if="${#lists.isEmpty(Calendar.children)}">
        <a th:class="${basic}"
           th:classappend="${Calendar.id == targetCalendar.id} ? 'bg-blue-600' : '' "
           th:href="@{|/${Calendar.id}?keyword=${paramHandler.keyword}&isSearchModal=${paramHandler.isSearchModal}&sort=${paramHandler.sort}|}" th:text="${Calendar.name}"></a>
    </th:block>
</li>

<li th:fragment="moveTree(CalendarList, targetCalendar)" th:each="Calendar : ${CalendarList}"
    th:with="basic='w-[90%] p-[10px]'">
    <th:block th:if="${!#lists.isEmpty(Calendar.children)}">
        <details open
                 th:if="${Calendar.id != targetCalendar.id and !#lists.contains(targetCalendar.children, Calendar)}">
            <summary class="flex p-0">
                <input type="radio" name="destinationId" th:value="${Calendar.id}">
                <a th:class="${basic}"
                   th:classappend="${Calendar.id == targetCalendar.id} ? 'bg-blue-600':''"
                   href="javascript:void(0)"
                   th:text="${Calendar.name}"></a>
            </summary>
            <ul>
                <li th:replace="~{fragments/Calendar::moveTree(${Calendar.children}, ${targetCalendar})}"></li>
            </ul>
        </details>
    </th:block>
    <th:block th:if="${#lists.isEmpty(Calendar.children)}">
        <div th:if="${Calendar.id != targetCalendar.id and !#lists.contains(targetCalendar.children, Calendar)}"
             class="flex">
            <input type="radio" name="destinationId" th:value="${Calendar.id}">
            <a th:class="${basic}"
               th:classappend="${Calendar.id == targetCalendar.id} ? 'bg-blue-600' : '' "
               href="javascript:void(0)"
               th:text="${Calendar.name}"></a>
        </div>
    </th:block>
</li>
