<html lang="ko" layout:decorate="~{layout}">
<body>
<div layout:fragment="content"
     th:with="calendarList=${mainDataDto.calendarList},
        gameList=${mainDataDto.gameList},
        targetCalendar=${mainDataDto.targetCalendar},
        targetGame=${mainDataDto.targetGame},
        searchedCalendarList=${mainDataDto.searchedCalendarList},
        searchedGameList=${mainDataDto.searchedGameList},
        tagList = ${mainDataDto.tagList}
">

    <dialog th:replace="~{fragments/modal::moveModal}"/>
    <dialog th:replace="~{fragments/modal::searchModal}"/>
    <dialog th:replace="~{fragments/modal::renameModal}"/>
    <dialog th:replace="~{fragments/modal::tagModal}"/>
    <nav class="bg-blue-300 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-white text-lg font-bold">풋살 모임</a>
            <ul class="flex space-x-4">
                <li><a href="/" class=" btn w-[90px]" style="background-color: gray;">홈</a></li>
                <li><a href="/inquiry" class=" btn w-[100px]"  style="background-color: gray;">고객센터</a></li>
                <li class="relative">
                    <a href="#" class="text-white btn w-[90px]" onclick="toggleMenu()" style="background-color: gray;">메뉴</a>
                    <ul id="menuList" class="absolute hidden bg-black text-black mt-2 p-2 space-y-2" style="text-align: center;">
                        <a href="/signup" class="btn">회원 가입</a>
                        <a href="/logout" class="btn">로그아웃</a>
                        <button class="btn" onclick="renameModal.showModal()">구장 이름 변경</button>
                        <button class="btn" onclick="tagModal.showModal()">태그 목록</button>
                        <button class="btn" onclick="searchModal.showModal()">검 색</button>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="flex">
        <div class="bg-indigo-300 w-[20%]">
            <ul class="menu h-[100%] overflow-scroll">
                <li th:replace="~{fragments/calendar::gameTree(${calendarList}, ${targetCalendar})}">
            </ul>

            <form th:action="@{|/matchs/write|}" method="post">
                <input type="submit" value="구장 추가" class="postActionBtn">
            </form>

            <form th:action="@{|/matchs/${targetCalendar.id}/delete|}" method="post">
                <input type="submit" value="구장 삭제" class="postActionBtn">
            </form>


        </div>
        <div class="bg-red-300 w-[20%] h-[800px] text-center ">
            <ul class="h-[100%] overflow-scroll">
                <li th:each="game : ${gameList}" th:class="${game.id == targetGame.id} ? 'bg-blue-600' : ''">
                    <a th:data-url="@{|/matchs/${targetCalendar.id}/games/${game.id}|}" th:text="${game.title}"
                       class="getActionBtn"></a>
                </li>
            </ul>

            <form th:action="@{|/matchs/${targetCalendar.id}/games/write|}" method="post">
                <input type="submit" value="추가" class="postActionBtn">
            </form>
            <a th:data-url="@{|/matchs/${targetCalendar.id}/games/${targetGame.id}|}" class="btn sortDate">날짜순</a>
            <a th:data-url="@{|/matchs/${targetCalendar.id}/games/${targetGame.id}|}" class="btn sortTitle">이름순</a>

        </div>
        <div class="w-[60%]">
            <form th:action="@{|/matchs/${targetCalendar.id}/games/${targetGame.id}/update|}" method="post"
                  id="updateForm">
                <div>
                    <input type="hidden" name="id" th:value="${targetGame.id}">
                </div>
                <div>
                    <input type="text" name="title" th:value="${targetGame.title}">
                </div>
                <input type="hidden" name="content" id="editor-body">
                <div id="editor"></div>
                <div>
                    <input type="button" value="매치 수정" onclick="updateForm()" class="postActionBtn">
                </div>
            </form>
            <form th:action="@{|/matchs/${targetCalendar.id}/games/${targetGame.id}/delete|}" method="post"
                  id="deleteForm">
                <input type="button" value="매치 삭제" onclick="deleteForm();" class="postActionBtn">
            </form>
            <ul class="flex gap-5">
                <li th:each="gameTag : ${targetGame.gameTagList}">
                    <form th:action="@{|/games/${targetGame.id}/tags/${gameTag.id}/delete|}" method="post">
                        <input type="submit" th:value="${gameTag.tag.name}" class="btn">
                    </form>
                </li>
            </ul>
            <form th:action="@{|/games/${targetGame.id}/tags/create|}" method="post">
                <input type="text" name="name" class="input input-bordered" placeholder="태그 추가">
                <input type="submit" class="postActionBtn btn" value="추가">
            </form>
        </div>

        <div id="params">
            <input type="hidden" name="keyword" th:value="${paramHandler.keyword}">
            <input type="hidden" name="sort" th:value="${paramHandler.sort}">
        </div>
        <div>
            <input type="hidden" id="isSearchModal" name="isSearchModal" th:value="${paramHandler.isSearchModal}">
            <input type="hidden" id="isTagModal" name="isTagModal" th:value="${paramHandler.isTagModal}">
        </div>
    </div>
    <script th:inline="javascript">
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '700px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            initialValue: [[${targetGame.content}]]
        });
        editor.getMarkdown();
    </script>
    <script>
        function updateForm() {
            const form = document.getElementById("updateForm");
            const editorBody = document.getElementById("editor-body");
            if (confirm("해당 매치를 수정하시겠습니까?")) {
                const text = editor.getMarkdown();
                editorBody.value = text;
                form.submit();
            }
        }
        function deleteForm() {
            const form = document.getElementById("deleteForm");
            if (confirm("해당 매치를 삭제하시겠습니까?")) {
                form.submit();
            }
        }
    </script>
    <script>
        window.onload = () => {
            const isSearchModal = document.querySelector("#isSearchModal").value;
            const isTagModal = document.querySelector("#isTagModal").value;
            if (JSON.parse(isSearchModal)) {
                searchModal.showModal();
            }
            if(JSON.parse(isTagModal)){
                tagModal.showModal();
            }
            document.querySelectorAll(".postActionBtn").forEach((btn) => {
                btn.addEventListener("click", (e) => {
                    e.preventDefault();
                    postAction(btn);
                });
            });
            document.querySelectorAll(".getActionBtn").forEach((btn) => {
                btn.addEventListener("click", (e) => {
                    e.preventDefault();
                    getAction(btn);
                });
            });
            document.querySelector(".sortTitle").addEventListener("click", (e) => {
                getAction(e.target, (params) => {
                    params.sort = "title";
                });
            });
            document.querySelector(".sortDate").addEventListener("click", (e) => {
                getAction(e.target, (params) => {
                    params.sort = "date";
                });
            });
        }
        function postAction(button, callback = null) {
            const form = button.form;
            const params = getDefaultParam();
            const exParams = [];
            form.querySelectorAll("input").forEach((input) => {
                if (input.name !== null && input.type !== "submit") {
                    exParams.push(input.name);
                }
            });
            if (callback !== null)
                callback(params);
            Object.entries(params).forEach(([key, value]) => {
                if (exParams.includes(key)) {
                    return;
                }
                const input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", key);
                input.setAttribute("value", value);
                form.appendChild(input);
            });

            form.submit();
        }
        function getAction(link, callback = null) {
            const url = link.dataset.url;
            const params = getDefaultParam();
            if (callback !== null)
                callback(params);
            const queryString = new URLSearchParams(params).toString();
            location.href = url + '?' + queryString;
        }
        function getDefaultParam() {
            const paramInputList = document.querySelectorAll("#params input");
            const params = {};
            paramInputList.forEach((input) => {
                params[input.name] = input.value;
            });
            return params;
        }

        function toggleMenu() {
    var menuList = document.getElementById("menuList");
    if (menuList.classList.contains("hidden")) {
        menuList.classList.remove("hidden");
         menuList.style.zIndex = "999";
    } else {
        menuList.classList.add("hidden");
    }
}


    </script>
    <script th:replace="~{fragments/modal::searchModalJs}" />
    <script th:replace="~{fragments/modal::tagModalJs}" />
</div>
</body>
</html>